body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    align-items: center;
}
.logo{
    margin: 20px;
}
.login-btn{
    margin: 20px;
    color: rgb(47, 47, 47);
    background-color: transparent;
    border: 1px solid rgba(113, 111, 114, 0.47);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
}
.logo img{
    height: 72px;
    width: 72px;
}
.hero{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    align-items: center;
    background-color: rgba(113, 111, 114, 0.47);
    border-radius: 16px;
}
.hero-text{
    text-align: center;
    margin: auto;
    color: rgb(47, 47, 47);
}
.hero-text p{
    margin: 30px 0 30px;
}
.cta{
    width: 70%;
    background-color: black;
    color: rgb(226, 233, 240);
    padding: 10px 0;
    border-radius: 12px;
    font-size: 16px;
}
.hero-image{
    padding: 32px 0 0;
}
.hero-image img{
    width: 960px;
    height: 540px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}